.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  font-family: 'Josefin Sans', sans-serif;
  background: #fff;
}

.header-nav ul {
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 5px;
  font-size: 16px;
  text-transform: uppercase;
}

.header-nav ul li:first-child {
  padding: 0;
}

.header-nav ul li a {
  color: #000000;
}

.header input {
  border: 1px solid #c2c2c2;
  text-align: center;
  padding: 5px;
}

.info {
  margin: 50px 0;
}

.info-text h1 {
  color: #921026;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 400;
  margin: 35px 0 30px;
}

.info-text p {
  color: #000000;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 27px 0;
}

.info-text button {
  width: 105px;
  height: 28px;
  border: 1px solid #c2c2c2;
  background: transparent;
  color: #000000;
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 300;
}

.posts-elem h2 {
  color: #000000;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 300;
  min-height: 40px;
}

.footer {
  margin: 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14);
          box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14);
  background: rgba(0, 0, 0, 0.8);
  height: 180px;
  font-family: "Josefin Sans";
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

.footer-nav ul li:first-child {
  margin-left: 0;
}

.footer-nav ul li a {
  opacity: 0.5;
  color: #fefefe;
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-social ul li a {
  opacity: 0.5;
  color: #fefefe;
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 300;
}
