* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', Arial; }

button:active {
  outline: none; }

.header {
  height: 100vh; }

.container {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%; }

.logo {
  margin-left: 0.3%; }

.logo img {
  height: 25px; }

.logo_nav {
  justify-content: space-between; }

.text-upper {
  text-transform: uppercase; }

.btn {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 25px 8px;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #41424e; }

.btn:hover {
  border: 1px solid #41424e;
  cursor: pointer; }

.nav {
  margin-right: 2.5%; }

.left_content {
  color: #41424e; }

.header_content {
  margin-top: 14%;
  margin-left: 7.5%; }

.header_pretitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase; }

.header_title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase; }

.header_text {
  font-size: .8em;
  color: grey;
  line-height: 1.5;
  margin-top: 2.5%;
  margin-bottom: 6.4%; }

.header_btn {
  padding: 3% 7%;
  color: #fff;
  font-family: "Proxima Nova";
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #f95079;
  cursor: pointer; }

.img {
  z-index: 99;
  position: relative;
  bottom: 130px;
  right: 50px;
  width: 90%; }

.circle {
  position: absolute;
  top: 25%;
  left: 55%;
  border-radius: 50%;
  z-index: 1;
  width: 300px;
  height: 300px;
  background-image: -moz-linear-gradient(-170deg, #fa9032 0%, #ffd672 100%);
  background-image: -webkit-linear-gradient(-170deg, #fa9032 0%, #ffd672 100%);
  background-image: -ms-linear-gradient(-170deg, #fa9032 0%, #ffd672 100%); }

.fade-left {
  animation: fade 1.5s  ease-in-out; }

.fade-left-2 {
  animation: fade 2s  ease-in-out; }

.fade-up {
  animation: fadeUp 1.8s ease-out; }

.fade-up-2 {
  animation: fadeUp2 2s ease-in-out; }

@keyframes fade {
  from {
    transform: translateX(-150%); }
  to {
    transform: translateX(0%); } }

@keyframes fadeUp {
  0% {
    transform: translate(-300%, -400%);
    height: 50px;
    width: 50px; }
  30% {
    transform: translate(-150%, 0%); }
  50% { }
  transform: translate(-100%, 0%);
  70% {
    transform: translate(-50%, 0%); }
  100% {
    transform: translate(0%, 0%);
      transform-width: 300px;
      transform-height: 300px; } }

@keyframes fadeUp2 {
  from {
    transform: translateX(-40%);
    opacity: 0; }
  to {
    transform: translateX(0%); } }

@media (min-width: 1900px) {
  .circle {
    height: 400px;
    width: 400px; } }

@media (max-width: 1100px) {
  .circle {
    top: 10%;
    height: 200px;
    width: 200px; }
  .img {
    margin-top: 15%; } }
