@font-face {
    font-family: 'Bree Serif';
    src: local('Bree Serif'), local('BreeSerif-Regular'), url('breeserif.woff2') format('woff2'), url('breeserif.woff') format('woff'), url('breeserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
