body
 font: 14px/20px BlinkMacSystemFont, Bree Serif,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif
 text-size-adjust: none
 color: #333
 margin: 0
 max-width: 100%
 display: flex
 flex-direction: column
 background: url("../img/bg.jpg")no-repeat center
input:active, input:focus, button:active, button:focus
  outline: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
 -webkit-appearance: none
a   
 text-decoration: none
header
 display: flex
 flex-direction: row
 justify-content: space-between
 align-items: center
 padding: 0 2%
 height: 70px
 border-bottom: 4px solid #e1e0de
.logo
 font-size: 20px
 font-weight: bold
 display: flex
 color: #051937
.head
 &-nav
  ul 
   padding: 0
   display: flex
   li 
    list-style: none
    margin-left: 20px
    &:first-child
     margin-left: 0
    a 
     font-size: 16px
     color: #000
     &:hover
      color: #b20600
.time 
 min-height: 25px    
 text-align: center  
.real-time
 transition: 0.3s all
 font-size: 18px
 padding: 5px
 color: #051937
 text-shadow: 1px 1px 1px black, 1px 1px 1em white
 font-size: 20px
 .time-hours, .time-minutes
  position: relative
  &:after 
   content: ":"
   position: absolute
.left-sidebar
 width: 25%
 height: 100vh
 background: #f5f2f0
 position: absolute
 z-index: 99
 top: 74px
 left: -25%
 right: 0
 bottom: 0
 overflow: auto 
 box-shadow: 0 2px 5px rgba(0,0,0, 0.3)
 &__section
  width: 70%
  h4 
   color: #c4c2c0
   font-weight: 400
  
 &__block
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 
  ul 
   padding: 0
   margin: 80px 0
   text-align: center
   li 
    list-style: none
    margin: 20px 0 0 0
    a
     color: #fff
     font-size: 18px
     text-transform: uppercase
     vertical-align: middle
     &:hover
      color: #ff5a3c  
      &:before
       content: ''
       width: 30px
       height: 30px
       display: inline-block
       position: absolute
       left: 20%
       background: url("../img/ball.png")no-repeat center
.left-sidebar__block-active 
 color: #ff5a3c!important  
 &:before
  content: ''
  width: 30px
  height: 30px
  display: inline-block
  position: absolute
  left: 20%
  background: url("../img/ball.png")no-repeat center    
main 
 font-family: 'Bree Serif'
 max-width: 800px
 margin: 0 auto	
 padding-bottom: 80px
.main-content
 position: relative
 width: 100%
 transition: 0.3s all
 display: none
 table, tr, td
  border: 2px solid #fff
 td
  width: 40px
  height: 40px
  cursor: pointer
  font-size: 20px
  text-align: center
  color: #fff
.sadebar
  &-active
   padding-left: 25%
   transition: 0.3s all	
  &-left
   left: 0
   transition: 0.3s all 
   background: url("../img/images.jpg")no-repeat top
.section-button
  display: none
  width: 100%
  .wrapper
   display: flex
   flex-direction: column
   align-items: center
   justify-content: space-between
   height: 20%
   background: rgba(0,0,0, .3)
   padding: 50px
   margin: 30px 0
  .message-button
   p 
    font-size: 20px
    color: #fff
  .block-button
   input 
    cursor: pointer
    margin: 0 35px
    padding: 10px
    width: 80px
    border: none
    border-radius: 10px
    text-transform: uppercase  
.section-slider
 display: none
 flex-direction: column
 min-height: 90vh
.slider
 overflow: hidden
 position: relative
 width: 100%
 transition: 0.6s all
 margin: 40px 0
 &-wrapp
  display: flex
  flex-direction: row
  position: relative
  transition: 1s all
  left: 0
  box-shadow: 5px 10px 10px rgba(0,0,0, .4)
 &-item
  width: 100%
  margin: 0 auto
  position: relative
  transition: 0.6s all
.prev, .next
 position: absolute
 font-size: 50px
 color: #fff
 display: flex
 align-items: center
 width: 50px
 height: 50px
 top: 40%
 cursor: pointer 
.next
  right: 0
  background: url('../img/Slider/arrow-right.png')no-repeat center
.prev
 background: url('../img/Slider/arrow-left.png')no-repeat center        
.section-active
 display: flex!important
 min-height: 90vh
.dot
  cursor: pointer
  &-active
   background: #fff!important
.slider-dots
 display: flex
 ul
  padding: 0
  margin: 20px auto
  li 
   display: inline-flex
   justify-content: center
   align-items: center  
   flex-direction: row
   width: 15px
   height: 15px
   background: #051937
   border-radius: 50%
   margin-left: 10px  
.btn-menu
 background: transparent
 border: none
 outline: none
 cursor: pointer
.footer
 position: fixed
 bottom: 0
 color: #fff
 background: rgba(0,0,0, 0.4)
 box-shadow: 5px 10px 10px rgba(0,0,0, .4)
 width: 100%
 .sizeScreen
  font-size: 20px
  text-shadow: 1px 1px 2px black, 1px 1px 1em red
 &-content
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 50px 
  padding: 0 20px
  ul 
   padding: 0
   li
    list-style: none
    display: inline-block 
    margin-left: 50px
    &:first-child
     margin-left: 0
 &-timer
  cursor: pointer
  font-size: 20px
  animation: timer 4s linear 2s  alternate
  text-shadow: 1px 1px 2px black, 1px 1px 1em red
  &_minutes,&_hours
   position: relative
   &:after 
    content: ':' 
    position: absolute  
.container
 display: flex
 flex-direction: column
 align-items: center
 justify-content: flex-start
 height: 90vh 
.interface
 display: flex
 flex-direction: column
 align-items: center
 justify-content: center
 text-align: center
 width: 800px
 max-width: 100%
 height: 40%
 margin: 20px 0
 border-radius: 10px
 background: url('../img/Anthony.jpg') no-repeat top
 background-size: cover
 transition: 0.3s all
 box-shadow: 5px 5px 5px rgba(0, 0, 0, .6)
 &:hover
  cursor: pointer
  box-shadow: 1px -2px 1px rgba(0, 0, 0, .6)

 &-control
  display: flex
  flex-direction: row
 &-description
  p:first-child  
   font-size: 18px 
   color: #fff
 label
  color: #fff
  font-weight: bold
  font-size: 18px
  display: inline-flex
  align-items: center
  padding: 0 10px 0 20px
  background: rgba(0,0,0, 0.4)
 input
  margin: 0 0 0 10px
  padding: 0 0 0 5px
  display: inherit
  width: 100px
 button
  padding: 10px
  font-size: 1.4em
  border: none
  cursor: pointer
  color: white
  background: transparent
  background-size: cover
  border-radius: 15px
  transition: 0.3s all
  margin: 0 0 0 50px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6)
  &:hover
   box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4)


.picture-table
 background: rgba(0,0,0, 0.4) 
.messageTab
 text-transform: uppercase
 color: red
 font-size: 22px 
 font-weight: bold 
@keyframes timer
 0%
  transform: rotateY(0deg)
 50%
  transform: rotateY(-90deg) 
 100% 
  transform: rotateY(-180deg) 
.section-student
 display: none
 flex-direction: column
 &__form
  display: flex
  flex-direction: row
  width: 600px
  height: 25%
  padding: 15px
  margin: 20px 0
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6)
  background: rgba(0,0,0, 0.4)
  input[type="button"]
   border: none
   width: 80px
   border-radius: 10px
   padding: 5px
   cursor: pointer
   transition: 0.3s all
   box-shadow: 5px 5px 5px rgba(0, 0, 0, .6)
   &:hover
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4) 
  input
   border: none
  &-left
   display: flex
   flex-direction: column
   align-items: center
   width: 50%
   label 
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    margin: 5px 0
    color: #fff
    font-size: 16px
   .button-group
    display: flex
    flex-direction: row
    width: 60%
    justify-content: space-between 
    margin: 40px 0
  &-rigth
   display: flex
   flex-direction: column
   align-items: flex-end
   width: 50%
   input 
    margin: 20px 0
    &:first-child
     margin: 30px 0 20px  
 &__table
  background: rgba(0,0,0, 0.6)
  table
   width: 100%
   border-color: #fff
   color: #fff
@media only screen and( max-width: 1024px )
 .left-sidebar
   height: 45vh
   width: 100%
   top: -100%
   left: 0
   z-index: 9
 .sadebar-left
   top: 70px 
 .sadebar-active
   padding: 0 
@media only screen and( max-width: 980px )    
 body 
  max-width: 980px

@media only screen and (max-width: 700px)
 .head-nav
   display: none
@media only screen and (max-width: 425px)
 .interface-control
  flex-direction: column
 main 
  max-width: 100%
 .interface
  width: 100% 
  button
   margin: 20px 0 
  label
   padding: 15px 
   justify-content: space-between
 .section-button .block-button input 
   margin: 0 10px
 .footer-content 
  ul 
   li 
    margin-left: 25px  
@media only screen and (max-width: 325px)
 .footer-content 
  ul 
   li 
    margin-left: 15px      